nav.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  border-bottom: 1px solid black;
}

nav.bar>ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

nav li {
  list-style-type: none;
}

nav.bar .link {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  border: 1px solid black;
  background-color: rgb(71, 71, 71);
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 7rem;
}

nav.bar .link:hover {
  background-color: orange;
  border: 1px solid gray;
  color: black;
}