* {
  font-size: 70%;

  transition: background-color .1s linear;
}

body { 
  background-color: #FFFFFF;
  color: #24272A;
  font-family: '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif';
  font-size: 1.6rem;
  margin: 0;
}


h1, h2, h3, h4, h5, h6 {
  font-size: 5.2rem;
}

code {
  background-color: #F2F4F6;
  font-family: 'ui-monospace,Menlo,Monaco,"Cascadia Mono","Segoe UI Mono","Roboto Mono","Oxygen Mono","Ubuntu Monospace","Source Code Pro","Fira Mono","Droid Sans Mono","Courier New", monospace';
  padding: 1.2rem;
  font-weight: normal;
  font-size: 1.6rem;
}

button {
  font-size: 1.4rem;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FD882B 0%, #F09819  51%, #FF512F  100%);
  color: #FFFFFF;
  border: 1px solid #141618;
  font-weight: bold;
  padding: 1rem;
  min-height: 4.2rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  max-width: 100vw;
}